
#container{
	background:none;
	width:1200px;
	height:1300px;
	margin:30px;
	border:5px dashed blue;
}
#header{
	   background: url(pro_image.jpg);
	   width:100%;
	   height:11%;
	   text-align:center;
	   
}
	#left_header{
		padding:5px 0;
		float:left;
		color:white;
		margin-top:9px;
		
	}
	#right_header{
		padding:5px 0;
		float:right;
		text-align:center;
	}
	#right_header ul{
		list-style:none;
		}
	#right_header ul li{
		
		padding-bottom:10px;
		float:left;
		color:white;
		margin:10px;
		margin-top:1px;
		font-size:31px;
		font-weight:bold;
		transition:background 2s;
		
	}
	a {
		color:white;
	}
	#right_header ul li:hover{
		background:orange;
		height:60px;
		}
		#main{
			width:1200px;
			height:100px;
			
		}

	.main_img{	
        
		width:100%;
		height:500%;
	}
	.first_section{
		
	}
	.first_section h2{
		text-align:center;
		font-size:60px;
		text-shadow:1px 2px 5px blue;
		color:silver;
	}
	.margin_left{
		margin-left:2%;		
		width:2%;
		height:3%;
		float:left;
	}
	article img{
		width:900%;
		margin-top:0 0px;
		height:170px;
		border:5px solid blue;
		border-radius:30px;
	}
	
	@keyframes img_animation{
		from{width:700%;}
		to{width:1400%;}
	}
	 article img:hover{
		 animation:img_animation 3s;
	 }
	.article_title{
		text-align:center;
		font-size:20px;
		text-weight:bold;
		color:black;
		margin-top:0 auto;
		text-shadow:none;
		width:500%;
	
	}
	.article_description{
		font-size:10px;
		text-shadow:none;
		text-decoration:none;
		text-align:center;
		color:black;
		width:600%;
	}
	.margin-right{
		margin-left:20%;
		margin:1px%;
		width:2%;
		height:1%;
		float:left;
		
	}
	
	#img2{
		width:900%;
		height:170px;
		margin-top:0px;
	}
	.article_title{
		text-align:center;
		margin-left:25px;
		width:160px;
	}
	.article_description{}
	.footer{
		
		width:100%;
		height:3.5%;
		margin-top:75%;
		text-align:center;
		color:blue;
		font-size:120%;
		font-weight:bold;
	
	}
	#contact us{
		text-align:center;
		font-size:50%;
				
	}
	.left_footer{
		background:red;
		width:600px;
		height:90%;
		margin-top:10px;
		float:left;
		
	}
	.right_footer{
		background:blue;
		width:600px;
		height:90%;
		float:right;
		margin-top:10px;
	}
	.left-footer-imagefb{
		width:30px;
		height:60%;
		margin-left:3%;
		margin-top:0.6%;
		border:2px solid white;	
		
        		
	}
	.left-footer-imageinst{
		width:30px;
		height:60%;
		margin-left:7%;
		margin-top:0.6%;
        border:2px solid blue;		
        		
	}
	
	.right-footer-image1{
		width:30px;
		height:60%;
		margin-top:0.5%;
		margin-left:2%;
		
	}
	.right-footer-image{
		width:30px;
		height:60%;
		margin-top:0.5%;
		margin-left:10%;
		
	}